*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 250ms opacity ease-in-out;
  transition-delay: 250ms;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 1;
}

.card {
  min-width: 32rem;
  max-width: 32rem;
  max-height: 33rem;
  min-height: 33rem;
  float: right;
  margin-right: 10rem;
}

.carousel-button {
  position: relative;
  float: right;
  margin-right: 10rem;
  z-index: 2;
  background: none;
  border: none;
  font-size: 1.5rem;
  top: 45%;
  transform: translateY(-50%);
  color: rgba(25, 24, 24, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  right: 16.5rem;
}

.carousel-button.next {
  right: 0.5rem;
}
