h1 {
  color: aquamarine;
}

.box_image {
  height: 12.5rem;
  width: 12.5rem;
}

.box_image_container {
  height: 12.5rem;
  width: 12.5rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

a {
  display: block;
  width: 12.5rem;
  height: 12.5rem;
  margin-bottom: 1rem;
}
